<div class="container">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <p class="nav-link px-2 link-secondary">Новостная <br> рассылка</p>
        </li>
        <li>
            <form action="{% url 'contact' %}" method="post" class="nav-link px-2 link-secondary">
                {% csrf_token %}
                {{ contact_form }}
                <button class="btn btn-primary"><span class="btn btn-primary" aria-hidden="true">Отправить</span>
                </button>
            </form>
        </li>
    </ul>
</div>
